<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!--to prevent favicon request-->
  <link rel="icon" href="data:,">
  <title>State Emissions</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>

<body>

 <!-- ======= Header ======= -->
 <header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">

    <h1 class="logo mr-auto"><a href="/">Project 2</a></h1>

    <nav class="nav-menu d-none d-lg-block">
      <ul>
        <li class="active"><a href="/">Welcome</a></li>
              <li><a href="national">National emissions</a></li>
              <li><a href="bubble">State emissions overview</a></li>
              <li><a href="chart">State by state comparision</a></li>
              <li><a href="map">Map of EV charging stations</a></li>
      </ul>
    </nav><!-- .nav-menu -->

  </div>
</header><!-- End Header -->



  <div class="container">
    <div class="row">
        <h2>State Comparison Visualization</h2>
        <h4>Below you will find a visualization displaying emissions volume by state for 2017</h4>
      </div>
    </div>
    <div id="bubble"></div>
     
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  
  <script src="../static/js/bubble.js"></script>
  
</body>

</html>
