<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>State Emissions</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>

<body>

 <!-- ======= Header ======= -->
 <header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">

    <h1 class="logo mr-auto"><a href="/">Project 2</a></h1>

    <nav class="nav-menu d-none d-lg-block">
      <ul>
        <li class="active"><a href="/">Welcome</a></li>
              <li><a href="national">National emissions</a></li>
              <li><a href="bubble">State emissions overview</a></li>
              <li><a href="chart">State by state comparision</a></li>
              <li><a href="map">Map of EV charging stations</a></li>
      </ul>
    </nav><!-- .nav-menu -->

  </div>
</header><!-- End Header -->



  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1>State Emissions Dashboard</h1>
        <p>Interactive dashboard displaying an individual State's emissions volume over time as well as the number of charging stations built in that State</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <div class="well">
          <h5>State abbreviation:</h5>
          <select id="selDataset" onchange="optionChanged(this.value)"></select>
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Amount of carbon dioxide emission by year</h3>
          </div>
          <div id="sample-metadata" class="panel-body"></div>
        </div>
      </div>
      <div class="col-lg-10">
        <p>State's Co2 emissions include CO2 emissions from direct fuel use across all sectors, including residential, commercial, industrial, and transportation, as well as primary fuels consumed for electricity generation.</p>
        <div id="bar"></div>
      </div>
      <div class="col-md-10">
        <p>States have attempted to build infrastructure to facilitate the adoption of electric vehicles. This can help reduce transportation related emissions. By building charging stations, a state can help facilitate individuals to purchase electric vehicles as well as potentially helping companies consider electric vehicles as their main source of commercial transportation.</p>
        <div id="gauge"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-5">
        <div id="bubble"></div>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <!--script src="./static/js/chart.js"></script>-->
  <script src="../static/js/chart.js"></script>
  <!--script src="{{ url_for('static', filename='js/app.js')}}"></script>-->
    
   <!--script src="{{ url_for('static', filename='js/chart.js')}}"></script>-->
  <!--script src="./static/js/bonus.js"></script>-->
  
</body>

</html>
