<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <title>State emissions and charging stations</title>

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin="" />

    <!-- Marker Cluster CSS -->
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.css">
    <link rel="stylesheet" type="text/css"
        href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.Default.css">

    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">

</head>

<body>

 <!-- ======= Header ======= -->
 <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><a href="/">Project 2</a></h1>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="/">Welcome</a></li>
              <li><a href="national">National emissions</a></li>
              <li><a href="bubble">State emissions overview</a></li>
              <li><a href="chart">State by state comparision</a></li>
              <li><a href="map">Map of EV charging stations</a></li>
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

    <!-- The div where we will inject our map -->
    <div id="map"></div>


    <!-- Leaflet JS-->
    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
        integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
        crossorigin=""></script>
    <!-- d3 JavaScript -->
    <script src="https://d3js.org/d3.v4.min.js"></script>
    
    <!-- Leaflet-Choropleth JavaScript -->
    <script type="text/javascript" src="../static/js/choropleth.js"></script>

    <!-- Marker Cluster JS -->
    <script type="text/javascript"
        src="https://unpkg.com/leaflet.markercluster@1.0.3/dist/leaflet.markercluster.js"></script>

    <!-- API key -->
    <script type="text/javascript" src="../static/js/config.js"></script>
    <!--script src="{{url_for('static', filename ='js/config.js')}}"></script>-->

    <!-- Our JS -->
    <script type="text/javascript" src="../static/js/logic.js"></script>
    <!--script src="{{ url_for('static',filename='js/logic.js')}}"></script>-->

</body>

</html>
